Repository Eastrall/LiteNetwork, pull requests merged in 2020-12, with the labels that each got.

#23 Receive strategy type
  samples/echo/LiteNetwork.Sample.Echo.Server/Program.cs
  src/LiteNetwork.Common/ILiteConnection.cs
  src/LiteNetwork.Common/ILiteConnectionToken.cs
  src/LiteNetwork.Common/Internal/LiteConnectionToken.cs
  src/LiteNetwork.Common/Internal/LiteReceiver.cs
  src/LiteNetwork.Common/Internal/LiteReceiverConnectionToken.cs
  src/LiteNetwork.Common/ReceiveStrategyType.cs
  src/LiteNetwork.Server/Internal/LiteReceivedMessage.cs
  src/LiteNetwork.Server/Internal/LiteServerReceiver.cs
  src/LiteNetwork.Server/LiteServer.cs
  src/LiteNetwork.Server/LiteServerConfiguration.cs
  src/LiteNetwork.Server/LiteServerUser.cs
Labels: area: protocol, area: server, enhancement

#25 Minor fixes
  src/LiteNetwork.Common/ILiteConnectionToken.cs
  src/LiteNetwork.Common/Internal/LiteReceiver.cs
  src/LiteNetwork.Common/Internal/LiteReceiverConnectionToken.cs
  src/LiteNetwork.Protocol/LitePacket.cs
  src/LiteNetwork.Protocol/LitePacketStream.cs
  src/LiteNetwork.Server/Hosting/LiteServerBuilderOptions.cs
  src/LiteNetwork.Server/Internal/LiteServerSender.cs
  src/LiteNetwork.Server/LiteServer.cs
  src/LiteNetwork.Server/LiteServerUser.cs
  tests/LiteNetwork.Protocol.Tests/LitePacketSteramWriterTests.cs
Labels: area: protocol, area: server, documentation

#29 Receiver design improvement
  src/LiteNetwork.Common/ILiteConnection.cs
  src/LiteNetwork.Common/ILiteConnectionToken.cs
  src/LiteNetwork.Common/Internal/LiteDefaultConnectionToken.cs
  src/LiteNetwork.Common/Internal/LiteQueuedConnectionToken.cs
  src/LiteNetwork.Common/Internal/LiteReceiver.cs
  src/LiteNetwork.Common/Internal/LiteReceiverConnectionToken.cs
  src/LiteNetwork.Server/Hosting/LiteServerBuilderOptions.cs
  src/LiteNetwork.Server/Hosting/LiteServerHostedService.cs
  src/LiteNetwork.Server/LiteServer.cs
  src/LiteNetwork.Server/LiteServerUser.cs
Labels: area: server, comp: receiver, enhancement

#30 Update LiteSender mechanism
  samples/echo/LiteNetwork.Sample.Echo.Server/ClientUser.cs
  src/LiteNetwork.Common/Internal/LiteMessage.cs
  src/LiteNetwork.Common/Internal/LiteSender.cs
  src/LiteNetwork.Server/Internal/LiteServerSender.cs
  src/LiteNetwork.Server/LiteServer.cs
  src/LiteNetwork.Server/LiteServerUser.cs
Labels: comp: sender, enhancement

#31 Add host builder extension to specify a server interface
  samples/hosting/LiteNetwork.Samples.Hosting.Server/CustomServer.cs
  samples/hosting/LiteNetwork.Samples.Hosting.Server/Program.cs
  samples/hosting/LiteNetwork.Samples.Hosting.Server/ServerUser.cs
  src/LiteNetwork.Server/Hosting/HostBuilderExtensions.cs
Labels: area: server, enhancement

#32 Improve hosting extensions
  samples/echo/LiteNetwork.Sample.Echo.Server/EchoServer.cs
  samples/echo/LiteNetwork.Sample.Echo.Server/Program.cs
  samples/hosting/LiteNetwork.Samples.Hosting.Server/CustomServer.cs
  samples/hosting/LiteNetwork.Samples.Hosting.Server/Program.cs
  src/LiteNetwork.Common/Hosting/HostBuilderExtensions.cs
  src/LiteNetwork.Common/Hosting/ILiteBuilder.cs
  src/LiteNetwork.Common/Hosting/LiteBuilder.cs
  src/LiteNetwork.Common/Hosting/LiteNetworkCollectionExtensions.cs
  src/LiteNetwork.Common/LiteNetwork.Common.csproj
  src/LiteNetwork.Server/Abstractions/ILiteServer.cs
  src/LiteNetwork.Server/Hosting/HostBuilderExtensions.cs
  src/LiteNetwork.Server/Hosting/LiteServerBuilderExtensions.cs
  src/LiteNetwork.Server/LiteNetwork.Server.csproj
  src/LiteNetwork.Server/LiteServer.cs
  src/LiteNetwork.Server/LiteServerConfiguration.cs
  src/LiteNetwork.Server/LiteServerOptions.cs
  src/LiteNetwork.Server/LiteServerUser.cs
  tests/LiteNetwork.Server.Tests/Hosting/LiteServerHostingTests.cs
Labels: area: server, enhancement, waiting-review
