Repository Eastrall/LiteNetwork, pull requests merged in 2020-11, with the labels that each got.

#16 Host builder extensions
  samples/hosting/LiteNetwork.Samples.Hosting.Server/CustomServer.cs
  samples/hosting/LiteNetwork.Samples.Hosting.Server/LiteNetwork.Samples.Hosting.Server.csproj
  samples/hosting/LiteNetwork.Samples.Hosting.Server/Program.cs
  samples/hosting/LiteNetwork.Samples.Hosting.Server/ServerUser.cs
  samples/hosting/LiteNetwork.Samples.Hosting.sln
  src/LiteNetwork.Server/Hosting/HostBuilderExtensions.cs
  src/LiteNetwork.Server/Hosting/LiteServerBuilderOptions.cs
  src/LiteNetwork.Server/Hosting/LiteServerHostedService.cs
  src/LiteNetwork.Server/LiteServer.cs
Labels: area: server, enhancement

#17 Add hosting unit tests
  src/LiteNetwork.Server/LiteServer.cs
  tests/LiteNetwork.Server.Tests/Hosting/LiteServerHostingTests.cs
  tests/LiteNetwork.Server.Tests/LiteNetwork.Server.Tests.csproj
  tests/LiteNetwork.Server.Tests/UnitTest1.cs
Labels: area: server

#19 Improve protocol customization
  src/LiteNetwork.Common/LiteNetwork.Common.csproj
  src/LiteNetwork.Protocol/Abstractions/ILitePacketProcessor.cs
  src/LiteNetwork.Protocol/Internal/LitePacketParser.cs
  src/LiteNetwork.Protocol/LiteDataToken.cs
  src/LiteNetwork.Protocol/LiteNetwork.Protocol.csproj
  src/LiteNetwork.Protocol/LitePacketProcessor.cs
  src/LiteNetwork.Server/LiteNetwork.Server.csproj
  tests/LiteNetwork.Protocol.Tests/LitePacketParserTests.cs
  tests/LiteNetwork.Protocol.Tests/LitePacketParserWithCustomProcessor.cs
  tests/LiteNetwork.Protocol.Tests/Processors/CustomVariablePacketProcessor.cs
  tests/LiteNetwork.Protocol.Tests/Processors/DefaultLitePacketProcessor.cs
Labels: area: protocol, enhancement

#21 Add more async
  src/LiteNetwork.Common/Internal/LiteNetworkHelpers.cs
  src/LiteNetwork.Common/Internal/LiteReceiver.cs
  src/LiteNetwork.Common/Internal/LiteSender.cs
  src/LiteNetwork.Protocol/LitePacketProcessor.cs
  src/LiteNetwork.Server/Abstractions/ILiteServer.cs
  src/LiteNetwork.Server/Hosting/LiteServerHostedService.cs
  src/LiteNetwork.Server/LiteNetwork.Server.csproj
  src/LiteNetwork.Server/LiteServer.cs
  tests/LiteNetwork.Common.Tests/NetHelperTests.cs
Labels: area: server, enhancement, refactoring

#22 Add missing documentation
  src/LiteNetwork.Common/Exceptions/LiteNetworkException.cs
  src/LiteNetwork.Common/Exceptions/LiteReceiverException.cs
  src/LiteNetwork.Common/ILiteConnection.cs
  src/LiteNetwork.Common/Internal/LiteConnectionToken.cs
  src/LiteNetwork.Common/Internal/LiteMessage.cs
  src/LiteNetwork.Common/Internal/LiteNetworkHelpers.cs
  src/LiteNetwork.Common/Internal/LiteReceiver.cs
  src/LiteNetwork.Common/Internal/LiteSender.cs
  src/LiteNetwork.Protocol/Abstractions/ILitePacket.cs
  src/LiteNetwork.Protocol/Abstractions/ILitePacketProcessor.cs
  src/LiteNetwork.Protocol/Abstractions/ILitePacketStream.cs
  src/LiteNetwork.Protocol/Internal/LitePacketParser.cs
  src/LiteNetwork.Protocol/LitePacket.cs
  src/LiteNetwork.Protocol/LitePacketMode.cs
  src/LiteNetwork.Protocol/LitePacketProcessor.cs
  src/LiteNetwork.Protocol/LitePacketStream.cs
  src/LiteNetwork.Server/Abstractions/ILiteServer.cs
  src/LiteNetwork.Server/Hosting/HostBuilderExtensions.cs
  src/LiteNetwork.Server/Hosting/LiteServerBuilderOptions.cs
  src/LiteNetwork.Server/Hosting/LiteServerHostedService.cs
  src/LiteNetwork.Server/Internal/LiteServerAcceptor.cs
  src/LiteNetwork.Server/Internal/LiteServerReceiver.cs
  src/LiteNetwork.Server/Internal/LiteServerSender.cs
  src/LiteNetwork.Server/LiteServer.cs
  src/LiteNetwork.Server/LiteServerConfiguration.cs
  src/LiteNetwork.Server/LiteServerUser.cs
Labels: area: protocol, area: server, documentation
